.window {
}

.register {
    min-height: 100%;
    display: flex;
}

.register__inner {
    display: flex;
}

.register__item {
    max-width: 80%;
    position: relative;
}

.head__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 10px;
}

.logo {
}

.logo__text {
}

.login__link {
    text-decoration: none;
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */

    display: flex;
    align-items: center;
    letter-spacing: 0.15px;

    /* Gradients/Blue -> Green 500 */

    background: linear-gradient(45deg, #82DBF7 0%, #B6F09C 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    text-transform: uppercase;
    margin-right: 15px;
}

.register__data {
    display: block;
    margin: 0 auto;
    text-align: center;
}

.register__data__title {
    margin-top: 150px;
    text-transform: uppercase;
    font-family: 'Comfortaa', cursive;
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 44px;
    padding: 0 15px;
    /* or 122% */

    display: flex;
    align-items: center;

    /* Noble Black/0 */

    color: #FFFFFF;

}

.register__data__item {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 24px;
    max-width: 676px;
    margin: 0 auto;
}

.register__data__items {
    display: block;
    margin: 0 auto;
    width: 100%;
}

.input__text {
    font-family: 'Comfortaa', cursive;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.15px;
    color: #9B9C9E;
    text-align: left;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.register__data__input {
    width: 100%;
    height: 48px;
    background: #1A1D21;
    border: 1px solid #363A3D;
    border-radius: 8px;
}
.register__data__input::placeholder {
    font-family: 'Comfortaa', cursive;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    align-items: center;
    letter-spacing: 0.15px;
    color: #9B9C9E;
    padding-left: 10px;
    text-transform: uppercase;
}

.register__data__items__link {
    grid-row-start: 3;
    grid-column-start: 1;
    grid-row-end: 4;
    grid-column-end: 3;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 15px;
}
.register__data__items__link__input{
    width: 24px;
    height: 24px;
    background-color: #1A1D21;
    border: 1px solid #363A3D;
    box-shadow: 0px 1px 2px -1px rgba(0, 0, 0, 0.05), 0px 1px 3px rgba(0, 0, 0, 0.05);
    border-radius: 4px;
}

.register__terms {
    font-family: 'Comfortaa', cursive;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */

    display: flex;
    align-items: center;
    letter-spacing: 0.15px;
    color: #CDCECF;

    text-transform: uppercase;
}
.register__terms__link{
    font-family: 'Comfortaa', cursive;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */

    display: flex;
    align-items: center;
    letter-spacing: 0.15px;

    /* Gradients/Blue -> Green 500 */

    background: linear-gradient(45deg, #82DBF7 0%, #B6F09C 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    text-transform: uppercase;
}

.register__data__items__btn {
    display: block;
    max-width: 676px;
    grid-row-start: 4;
    grid-column-start: 1;

    grid-row-end: 5;
    grid-column-end: 3;
}
.register__data__items__btn button{
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.15px;
    color: #0C1132;
    width: 100%;
    height: 48px;

    /* Stem Green/500 */

    background: #B6F09C;
    border-radius: 12px;
}
.copyright {
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    margin-top: 50px;
}

.copyright__items {
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    display: flex;
    align-items: center;
    letter-spacing: 0.15px;
    color: #9B9C9E;
}

.img__logo {
    height: 100%;
}