.general {
    position: relative;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}
.post__layout__modal.on{
    position: absolute;
    right: 0;
    z-index: 999999999;
    transition: right ease-out 0.5s;
}
.usersetting__layout__modal{
    top: 0;
    height: 100vh;
    left: -100%;
    transition: right ease-in-out 0.5s;
}
.usersetting__layout__modal.on{
    position: absolute;
    left: 0;
    z-index: 999999999;
    transition: left ease-out 0.5s;
}


.post__layout__modal{
    right: -100%;
    transition: right ease-in-out 0.5s;
}
.general__inner {
    display: grid;
    grid-template-columns: 20% 55% 25%;
    grid-template-rows: 20% 80%;
    gap: 12px;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

.general__items__sidebar {
}

.general__items__topbar {
    grid-column-start: 2;
}

.general__items__chatlayout {
    grid-column-start: 2;
}

.general__items__members {
}


