.postlayout {
    width: 50vw;
    height: 100vh;
    right: 0px;
    top: 0px;
    padding: 40px;
    background: rgba(26, 29, 33, 0.96);
    box-shadow: 0px 24px 64px -16px rgba(0, 0, 0, 0.24), inset 16px 24px 64px -24px rgba(255, 255, 255, 0.04), inset 0px 8px 12px rgba(255, 255, 255, 0.04);
    border-radius: 24px;
    overflow: hidden;
    transition: width ease-in 0.5s;
}

.postlayout__inner {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}

.postlayout__nav {
    width: 100%;
}

.postlayout__nav__info {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}

.postlayout__nav__title {
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    /* identical to box height, or 133% */

    display: block;
    text-align: left;

    /* Noble Black/0 */

    color: #FFFFFF;

}

.postlayout__nav__title__btn {
    height: 100%;
    display: flex;
    align-items: flex-start;
    align-self: flex-start;
    gap: 16px;
    cursor: pointer;
}

.postlayout__nav__title__btn__btn {
    background: inherit;
    cursor: pointer;
}

.postlayout__nav__text {
    padding-top: 16px;
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */

    display: flex;
    align-items: center;
    letter-spacing: 0.15px;

    /* Noble Black/300 */

    color: #9B9C9E;
}

.postlayout__nav__btn {
    display: flex;
    justify-content: center;
    margin-top: 40px;
    border-bottom: 1px solid #363A3D;
}

.postlayout__nav__btn__inner {
    display: flex;
    align-items: center;
    gap: 24px;
}

.postlayout__nav__btn__items {
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 12px;
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */
    letter-spacing: 0.15px;
    padding-bottom: 24px;

    /* Noble Black/300 */

    color: #9B9C9E;
}
.postlayout__nav__btn__items.active{
    border-bottom: 3px solid #B6F09C;
    color:#B6F09C ;
    border-radius: 4px 4px 0px 0px;
}
.postlayout__nav__btn__items.active svg path{
    stroke: #B6F09C;

}.postlayout__nav__btn__items.active svg{
     box-shadow: 0px 10px 15px -3px rgba(182, 240, 156, 0.16), 0px 4px 6px -4px rgba(182, 240, 156, 0.16);
    border-radius: 20px;

}
 .postlayout__main{
     height: 100%;
     overflow: hidden;
 }
