.members__membersbox {
    display: flex;
    padding: 20px;
    justify-content: space-between;
}

.members__membersbox__items {
    display: flex;
    gap: 20px;
}


.members__membersbox__btn {
    display: flex;
    gap: 20px;
    align-items: center;
}

.members__btn__items {
}

.members__membersbox__btn__items {
}