.members {
    box-sizing: border-box;
    width: 312px;
    height: 96px;
    border-bottom: 1px solid #131619;
    display: flex;
    justify-content: space-between;
    align-self: center;
    align-items: center;
    position: relative;
    z-index: 2;

}
.members__inner{
    height: 96px;
    background: #0D0F10;
    overflow: hidden;
    z-index: 2;
}
.members__inner.show{
    height: auto;
}

.members__items {
    display: flex;
    align-items: center;
    align-self: center;
    gap: 10px;
    padding-left: 15px;
    z-index: 2;
}

.user__avatar__small {
    z-index: 2;
}

.user__avatar__small__img {
    z-index: 2;
}

.user__id {
    z-index: 2;
}

.user__name {
    z-index: 2;
}

.user__rols {
}

.members__tab {
    transform: rotate(-90deg);
    z-index: 2;
}
.members__tab__item{
    color: rgba(104, 107, 110, 1);
    font-size: 20px;
    padding-right: 25px;
    cursor: pointer;
    z-index: 2;

}
.member__tab{
    width: 290px;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin-bottom: 50px;
    background: black;
    transform: translateY(-1000%);
    z-index: 1;
    transition: transform ease 1.5s;
    padding: 10px;
}
.show__tab{
    display: flex;
    transform: translateY(0%);
    transition: transform ease 1.5s;
}
.mtabs{
    display:flex;
    gap: 14px;
    justify-content: flex-start;
    box-shadow: #1A1D21 1px 0 30px;
}
.mtabs__inner{
    position: relative;
}
.mtabs__img{
    width: 20px;
}
.user__name.mtabs__user{
    font-size: 10px;
}
.online__tabs{
    top: 10px;
}